@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    text-align: center;
}

#app {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    max-width: 400px;
    margin: auto;
}

.btn {
    text-decoration: none;
    color: #282c34;
    text-align: center;
    letter-spacing: .5px;
    font-size: 14px;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    transition: .3s ease-out;
}

.btn-primary {
    background-color: #61dafb;
}

.btn-secondary {
    background-color: rgb(3, 152, 216);
}

.btn-danger {
    background-color: #ee6e73;
    grid-column: span 2;
}

.btn-primary:hover {
    background-color: #2bbbad;
}

.btn-secondary:hover {
    background-color: rgb(3, 103, 146);

}

.btn-danger:hover {
    background-color: #d66266;
}

.result {
    grid-column: span 2;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 2em;
    background-color: #012838;
    color: #74f974;
    text-shadow: 0px 1px 6px #88f988;
}